<!DOCTYPE html>
<style>
    .title-one{
        color: red;
        text-align: center;
        margin: fill;
    }
    .article-one-text__{
        color: darkgreen;
        text-align: -webkit-match-parent;
    }
    .advetisment {
               text-align: center;
           }


</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Very important article!</title>
</head>
<div class="title-one">
<h1>
    The header to the very interesting article!
</h1>
</div>
<div class="advetisment">
    <a href="https://nym1-ib.adnxs.com/click?7pQO1v85HUDulA7W_zkdQAAAAKBHYSpA7pQO1v85HUDulA7W_zkdQCNLEUqU3tVZDpPPhT0_9RLxXBNiAAAAAA8d2wBKJAAASiQAAAIAAAA4SUoUQ0UaAAAAAABVU0QAREtLAKIDtACYjQAAAAABAQQCAAAAAMIAtiK7XgAAAAA./bcr=AAAAAAAA8D8=/cnd=%216RHrRQi4x90YELiSqaIBGMOKaSAEKAAxAAAAAAAASEA6CU5ZTTI6NTQyM0DWLUlJS-XtCEcaQFEAAAAAAAAAAFkAAAAAAAAAAGEAAAAAAAAAAGkAAAAAAAAAAHEAAAAAAAAAAHgAiQEAAAAAAAAAAA../cca=OTI5MCNOWU0yOjU0MjM=/bn=89549/clickenc=https%3A%2F%2Fwww.teaterbilletter.dk%2Fmit-teater%2F%23select%2F81199" target="_blank"><img width="930" height="180" style="border-style: none" src="https://crcdn01.adnxs-simple.com/creative/p/9290/2022/2/7/31589418/222e4392-80f2-4930-8ae9-ecccda8c9329.gif"></a>
</div>
<body>
<div class="article-one-text__">
    <p>
        To day the market has been highly indfluenced by blab labanlakblabakl baklblababalablbabll.
    </p>
    <p>
        We’ve seen what North Korea can do, and even though it hasn’t been in the news lately, the experts we consulted say that terrorists are still trying to get dirty bombs into the country. The threat of a nuclear attack on the United States is higher than it’s been since Berlin had a wall down its center. But what would that attack entail? What kind of damage would a nuclear bomb cause, and what, if anything, could we do to get ready for it?

How the Attack Spreads
1. The initial shock wave lessens after the first ring, but will still demolish most residential buildings and cause widespread casualties.

2. The fireball created by a nuclear bomb can reach tens of millions of degrees.

3. The blast sends a shock wave that would destroy nearly everyone and everything within this first ring.

4. If the bomb is detonated in the air, as opposed to on the ground, 50% to 90% of people in this area will die from radiation exposure without medical treatment.

5. With a 10- kiloton bomb, everyone within the outermost ring in the image above would receive third-degree burns from thermal radiation.

Who Would Do It
Terrorists: According to Jeff Schlegelmilch, deputy director of the National Center for Disaster Preparedness at Columbia University, the most likely nuclear weapon will be trucked in and exploded on the ground. He estimates its yield at 10 to 15 kilotons—the same as Hiroshima. “This type of threat is very survivable,” he says. “It would be bad, but the republic would survive.”

RELATED STORIES

Everything You Need to Know About N. Korean Nukes

North Korea Hit Its Own City With a Missile
ADVERTISEMENT - CONTINUE READING BELOW


North Korea: For a long time, North Korea’s nuclear threat was capped in the 10- to 15-kiloton range. But earlier this year, says Michael Elleman, senior fellow for missile defense at the International Institute for Strategic Studies and an analyst for 38 North, a North Korea-tracking site, “North Korea detonated a thermonuclear weapon with a yield ranging between 150 kilotons and 250 kilotons. The tested weapon very likely could be fit on the HS-15,” the ICBM the country tested in November, “which could reach most, if not all, of the U.S. mainland.”

What Would Happen
Nuclear attack
A nuclear explosion that occurs on the ground creates a smaller shock wave than an airburst, but also sends a mushroom cloud of radioactive material into the air, where it is carried for miles by the wind.
SINELAB

Fireball: Whether the nuke is detonated in the air or on the ground, the initial threat is the fireball, which can reach tens of millions of degrees. “If you’re within that, you’re dead,” Schlegel­milch says. According to an online simulation created by Alex Wellerstein at the Stevens Institute of Technology (it’s interactive, scary, and fun), a 10-kiloton bomb would produce a fireball with a radius of 500 to 650 feet.

Shock wave: After the fireball comes the shock wave, or air blast. If detonated in the air, that same 10-kiloton bomb would destroy most buildings and kill nearly everyone within 0.38 miles of ground zero. The effect is reduced by 23 percent if the detonation occurs on the ground. The shock wave weakens from there, but can still take out residential buildings and cause mass casualties two to two and a half times the initial spread of the shock wave, according to Wellerstein’s projections.

ADVERTISEMENT - CONTINUE READING BELOW


Radiation: If you survive the fireball and shock wave, now you have to avoid the radiation. Exposure within three quarters of a mile of that 10-kiloton bomb, Wellerstein shows, will kill up to 90 percent of people without medical treatment. For a quarter-mile past that, your chances of survival increase, but you’ll get third-degree burns, which you probably won’t feel, because the radiation also kills your pain receptors.

Fallout: If the attack comes from the ground, dirt and debris are irradiated and shot into the air by the explosion, forming the classic mushroom cloud. Winds can carry the radiation, called nuclear fallout, from that cloud tens or hundreds of miles away, depending on the size of the bomb and the strength of the wind. As it falls back to earth, it sickens more people.

What You Should Do
“The good news is, if you make it through the blast and shock wave, you are now in a survivable situation,” Schlegelmilch says. If you’re close to the blast you need to get to a shelter. “At best, you have 15 to 20 minutes before the fallout starts to come back down,” he says. “If you’re farther out, you could have more time, but the reality is, you aren’t going to have time to evaluate the situation. If you see a nuclear flash, the first thing to do is get behind a barrier in case the shock wave comes. Then get to the inner part of a building. Ideally you’d be protected by thick concrete, underground if possible. Glass and most metals won’t provide you much protection.” If the explosion was ground based, you can also protect yourself by getting above the blast—usually higher than the ninth floor of a building. Be sure to stay near the center of the building in a room with substantial walls.

"IF YOU MAKE IT THROUGH THE BLAST AND SHOCK WAVE, YOU ARE NOW IN A SURVIVABLE SITUATION.”
If you somehow get stuck outside and think fallout is falling around you, cover your nose and mouth with a rag and close your eyes. Get to shelter immediately, where you should remove your outer layer of clothing, including that rag you just held over your face, and double seal it in plastic bags. Take a shower as soon as possible.

RELATED STORY

Does a Fallout Shelter Actually Protect You?
The danger of fallout is relatively short-lived. The Department of Homeland Security says that radioactivity is reduced by 90 percent after seven hours. Two days later, only 1 percent of the original radiation remains. Still, maybe stay in that shelter for one more day. Just to be safe.

How Radiation Causes Cancer
Roughly 15 percent of the energy released in the initial blast and fallout of an atomic bomb is high-frequency ionizing radiation. Unlike other forms of radiation, such as visible light and microwaves, ionizing radiation is fast and energetic enough to strip electrons from molecules, including the ones that make up the cells in your body. That radiation randomly damages the DNA in your cells—as if you’ve been shot with millions of tiny pins. (UV rays are borderline ionizing, which is why you can get skin cancer from tanning.) If ionizing radiation strips enough electrons from your DNA, or if you’re unlucky and it hits the wrong places in your genome, the genes that control cell growth can start to function abnormally. Certain cells divide out of control, causing tumors, leukemias, or other cancers. The risk is particularly high for children, whose cells have divided less often and are more likely to run amok if damaged.

3 Survival Tips You Should Know
The thickness of materials needed to protect yourself from 99 % of radiation:
Steel: 5 inches

ADVERTISEMENT - CONTINUE READING BELOW


Brick: 16 inches

Packed earth: 2 feet

Water: 3 feet

Why you should wear white:
Brighter colors reflect more radiation. Not so much more that it’ll really matter, but it might make you feel a little better.

Why you should live upwind:
You probably shouldn’t choose real estate based on the chances of a nuclear attack, but if it comes down to two places and you can’t decide? Go with the one in the area that’s less likely to have nuclear fallout carried to it by prevailing winds. In the New York City area, that’s New Jersey. You can find a map of the prevailing winds in your area at hint.fm. They’re strangely beautiful.

A Nuke Vocabulary

Ending North Korea Oil Supplies Would Be Seen As Act of War
by Video Elephant
Play Video
Airburst: A nuclear weapon detonated in the air to maximize destructive capabilities. Since the blast comes from above, it is less contained by buildings around it.

Atomic bomb: A bomb powered by nuclear fission, the splitting of atoms. Most atomic bombs are rated in kilotons—each of which is the equivalent of 1,000 tons of TNT.

Fallout: When a nuclear explosion occurs at ground level, the blast blows bits of dirt and debris into the air, where they become radioactive and are carried by the winds before falling back down to earth.

Ground burst: A nuclear weapon detonated on the ground. It causes less widespread destruction than an airburst, but releases fallout.

Hydrogen bomb: Also called a thermonuclear weapon, this type of bomb is much more powerful than an atomic bomb. It’s actually set off by an atomic bomb, and gets its power from the resulting nuclear fusion, the combining of atoms. Most hydrogen bombs are rated in megatons, the equivalent of 1,000 kilotons.

ICBM: A missile that can travel thousands of miles by exiting Earth’s atmosphere, hitting suborbital space, and reentering the atmosphere. Most commonly used in the delivery of nuclear weapons.

Prevailing winds: Air currents over a particular area that typically flow in the same direction.

Thermonuclear weapon: See “hydrogen bomb.”

Yield: The destructive power of a nuclear weapon.
    <div class="advetisment">
        <a href="https://nym1-ib.adnxs.com/click?7pQO1v85HUDulA7W_zkdQAAAAKBHYSpA7pQO1v85HUDulA7W_zkdQCNLEUqU3tVZDpPPhT0_9RLxXBNiAAAAAA8d2wBKJAAASiQAAAIAAAA4SUoUQ0UaAAAAAABVU0QAREtLAKIDtACYjQAAAAABAQQCAAAAAMIAtiK7XgAAAAA./bcr=AAAAAAAA8D8=/cnd=%216RHrRQi4x90YELiSqaIBGMOKaSAEKAAxAAAAAAAASEA6CU5ZTTI6NTQyM0DWLUlJS-XtCEcaQFEAAAAAAAAAAFkAAAAAAAAAAGEAAAAAAAAAAGkAAAAAAAAAAHEAAAAAAAAAAHgAiQEAAAAAAAAAAA../cca=OTI5MCNOWU0yOjU0MjM=/bn=89549/clickenc=https%3A%2F%2Fwww.teaterbilletter.dk%2Fmit-teater%2F%23select%2F81199" target="_blank"><img width="930" height="180" style="border-style: none" src="https://crcdn01.adnxs-simple.com/creative/p/9290/2022/2/7/31589418/222e4392-80f2-4930-8ae9-ecccda8c9329.gif"></a>
    </div>
       
    <div class="advetisment">
        <a href="https://nym1-ib.adnxs.com/click?7pQO1v85HUDulA7W_zkdQAAAAKBHYSpA7pQO1v85HUDulA7W_zkdQCNLEUqU3tVZDpPPhT0_9RLxXBNiAAAAAA8d2wBKJAAASiQAAAIAAAA4SUoUQ0UaAAAAAABVU0QAREtLAKIDtACYjQAAAAABAQQCAAAAAMIAtiK7XgAAAAA./bcr=AAAAAAAA8D8=/cnd=%216RHrRQi4x90YELiSqaIBGMOKaSAEKAAxAAAAAAAASEA6CU5ZTTI6NTQyM0DWLUlJS-XtCEcaQFEAAAAAAAAAAFkAAAAAAAAAAGEAAAAAAAAAAGkAAAAAAAAAAHEAAAAAAAAAAHgAiQEAAAAAAAAAAA../cca=OTI5MCNOWU0yOjU0MjM=/bn=89549/clickenc=https%3A%2F%2Fwww.teaterbilletter.dk%2Fmit-teater%2F%23select%2F81199" target="_blank"><img width="930" height="180" style="border-style: none" src="https://crcdn01.adnxs-simple.com/creative/p/9290/2022/2/7/31589418/222e4392-80f2-4930-8ae9-ecccda8c9329.gif"></a>
    </div>
   <div class="advetisment">
        <a href="https://nym1-ib.adnxs.com/click?7pQO1v85HUDulA7W_zkdQAAAAKBHYSpA7pQO1v85HUDulA7W_zkdQCNLEUqU3tVZDpPPhT0_9RLxXBNiAAAAAA8d2wBKJAAASiQAAAIAAAA4SUoUQ0UaAAAAAABVU0QAREtLAKIDtACYjQAAAAABAQQCAAAAAMIAtiK7XgAAAAA./bcr=AAAAAAAA8D8=/cnd=%216RHrRQi4x90YELiSqaIBGMOKaSAEKAAxAAAAAAAASEA6CU5ZTTI6NTQyM0DWLUlJS-XtCEcaQFEAAAAAAAAAAFkAAAAAAAAAAGEAAAAAAAAAAGkAAAAAAAAAAHEAAAAAAAAAAHgAiQEAAAAAAAAAAA../cca=OTI5MCNOWU0yOjU0MjM=/bn=89549/clickenc=https%3A%2F%2Fwww.teaterbilletter.dk%2Fmit-teater%2F%23select%2F81199" target="_blank"><img width="930" height="180" style="border-style: none" src="https://crcdn01.adnxs-simple.com/creative/p/9290/2022/2/7/31589418/222e4392-80f2-4930-8ae9-ecccda8c9329.gif"></a>
    </div>
  <div class="advetisment">
        <a href="https://nym1-ib.adnxs.com/click?7pQO1v85HUDulA7W_zkdQAAAAKBHYSpA7pQO1v85HUDulA7W_zkdQCNLEUqU3tVZDpPPhT0_9RLxXBNiAAAAAA8d2wBKJAAASiQAAAIAAAA4SUoUQ0UaAAAAAABVU0QAREtLAKIDtACYjQAAAAABAQQCAAAAAMIAtiK7XgAAAAA./bcr=AAAAAAAA8D8=/cnd=%216RHrRQi4x90YELiSqaIBGMOKaSAEKAAxAAAAAAAASEA6CU5ZTTI6NTQyM0DWLUlJS-XtCEcaQFEAAAAAAAAAAFkAAAAAAAAAAGEAAAAAAAAAAGkAAAAAAAAAAHEAAAAAAAAAAHgAiQEAAAAAAAAAAA../cca=OTI5MCNOWU0yOjU0MjM=/bn=89549/clickenc=https%3A%2F%2Fwww.teaterbilletter.dk%2Fmit-teater%2F%23select%2F81199" target="_blank"><img width="930" height="180" style="border-style: none" src="https://crcdn01.adnxs-simple.com/creative/p/9290/2022/2/7/31589418/222e4392-80f2-4930-8ae9-ecccda8c9329.gif"></a>
    </div>
  <div class="advetisment">
        <a href="https://nym1-ib.adnxs.com/click?7pQO1v85HUDulA7W_zkdQAAAAKBHYSpA7pQO1v85HUDulA7W_zkdQCNLEUqU3tVZDpPPhT0_9RLxXBNiAAAAAA8d2wBKJAAASiQAAAIAAAA4SUoUQ0UaAAAAAABVU0QAREtLAKIDtACYjQAAAAABAQQCAAAAAMIAtiK7XgAAAAA./bcr=AAAAAAAA8D8=/cnd=%216RHrRQi4x90YELiSqaIBGMOKaSAEKAAxAAAAAAAASEA6CU5ZTTI6NTQyM0DWLUlJS-XtCEcaQFEAAAAAAAAAAFkAAAAAAAAAAGEAAAAAAAAAAGkAAAAAAAAAAHEAAAAAAAAAAHgAiQEAAAAAAAAAAA../cca=OTI5MCNOWU0yOjU0MjM=/bn=89549/clickenc=https%3A%2F%2Fwww.teaterbilletter.dk%2Fmit-teater%2F%23select%2F81199" target="_blank"><img width="930" height="180" style="border-style: none" src="https://crcdn01.adnxs-simple.com/creative/p/9290/2022/2/7/31589418/222e4392-80f2-4930-8ae9-ecccda8c9329.gif"></a>
    </div>
  <div class="advetisment">
        <a href="https://nym1-ib.adnxs.com/click?7pQO1v85HUDulA7W_zkdQAAAAKBHYSpA7pQO1v85HUDulA7W_zkdQCNLEUqU3tVZDpPPhT0_9RLxXBNiAAAAAA8d2wBKJAAASiQAAAIAAAA4SUoUQ0UaAAAAAABVU0QAREtLAKIDtACYjQAAAAABAQQCAAAAAMIAtiK7XgAAAAA./bcr=AAAAAAAA8D8=/cnd=%216RHrRQi4x90YELiSqaIBGMOKaSAEKAAxAAAAAAAASEA6CU5ZTTI6NTQyM0DWLUlJS-XtCEcaQFEAAAAAAAAAAFkAAAAAAAAAAGEAAAAAAAAAAGkAAAAAAAAAAHEAAAAAAAAAAHgAiQEAAAAAAAAAAA../cca=OTI5MCNOWU0yOjU0MjM=/bn=89549/clickenc=https%3A%2F%2Fwww.teaterbilletter.dk%2Fmit-teater%2F%23select%2F81199" target="_blank"><img width="930" height="180" style="border-style: none" src="https://crcdn01.adnxs-simple.com/creative/p/9290/2022/2/7/31589418/222e4392-80f2-4930-8ae9-ecccda8c9329.gif"></a>
    </div>
  </p>
</div>
</body>

<div class="advetisment">
    <a href="https://nym1-ib.adnxs.com/click?7pQO1v85HUDulA7W_zkdQAAAAKBHYSpA7pQO1v85HUDulA7W_zkdQCNLEUqU3tVZDpPPhT0_9RLxXBNiAAAAAA8d2wBKJAAASiQAAAIAAAA4SUoUQ0UaAAAAAABVU0QAREtLAKIDtACYjQAAAAABAQQCAAAAAMIAtiK7XgAAAAA./bcr=AAAAAAAA8D8=/cnd=%216RHrRQi4x90YELiSqaIBGMOKaSAEKAAxAAAAAAAASEA6CU5ZTTI6NTQyM0DWLUlJS-XtCEcaQFEAAAAAAAAAAFkAAAAAAAAAAGEAAAAAAAAAAGkAAAAAAAAAAHEAAAAAAAAAAHgAiQEAAAAAAAAAAA../cca=OTI5MCNOWU0yOjU0MjM=/bn=89549/clickenc=https%3A%2F%2Fwww.teaterbilletter.dk%2Fmit-teater%2F%23select%2F81199" target="_blank"><img width="930" height="180" style="border-style: none" src="https://crcdn01.adnxs-simple.com/creative/p/9290/2022/2/7/31589418/222e4392-80f2-4930-8ae9-ecccda8c9329.gif"></a>
</div>
</html>
