<!DOCTYPE html>
<style>
    .title-one{
        color: red;
        text-align: center;
        margin: fill;
    }
    .article-one-text__{
        color: darkgreen;
        text-align: -webkit-match-parent;
    }
    .advetisment {
               text-align: center;
           }


</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Very important article!</title>
</head>
<div class="title-one">
<h1>
    The header to the very interesting article!
</h1>
</div>
<div class="advetisment">
    <a href="https://nym1-ib.adnxs.com/click?7pQO1v85HUDulA7W_zkdQAAAAKBHYSpA7pQO1v85HUDulA7W_zkdQCNLEUqU3tVZDpPPhT0_9RLxXBNiAAAAAA8d2wBKJAAASiQAAAIAAAA4SUoUQ0UaAAAAAABVU0QAREtLAKIDtACYjQAAAAABAQQCAAAAAMIAtiK7XgAAAAA./bcr=AAAAAAAA8D8=/cnd=%216RHrRQi4x90YELiSqaIBGMOKaSAEKAAxAAAAAAAASEA6CU5ZTTI6NTQyM0DWLUlJS-XtCEcaQFEAAAAAAAAAAFkAAAAAAAAAAGEAAAAAAAAAAGkAAAAAAAAAAHEAAAAAAAAAAHgAiQEAAAAAAAAAAA../cca=OTI5MCNOWU0yOjU0MjM=/bn=89549/clickenc=https%3A%2F%2Fwww.teaterbilletter.dk%2Fmit-teater%2F%23select%2F81199" target="_blank"><img width="930" height="180" style="border-style: none" src="https://crcdn01.adnxs-simple.com/creative/p/9290/2022/2/7/31589418/222e4392-80f2-4930-8ae9-ecccda8c9329.gif"></a>
</div>
<body>
<div class="article-one-text__">
    <p>
        To day the market has been highly indfluenced by blab labanlakblabakl baklblababalablbabll.
    </p>
    <p>
        Ukraine’s President Volodymyr Zelensky has said his nation will have every right to become a nuclear power, citing a document signed by leading world states back when Kiev agreed to get rid of Soviet nuclear weapons in exchange for security assurances.

        Why all the talk about Ukraine getting nuclear weapons?
        On Saturday, Zelensky aired the possibility of Ukraine’s acquisition of nuclear weapons. Speaking at the international Munich Security Conference, he complained that signatories of the Budapest Memorandum don’t want to conduct more consultations over Russia’s alleged breach of the agreement. “If [consultations] do not happen again or their results do not guarantee security for our country, Ukraine will have every right to believe that the Budapest Memorandum is not working and all the package decisions of 1994 are in doubt,” he warned.
        The document he was referring to was signed when Ukraine agreed to relinquish its nukes. Kiev claims Russia breached it in 2014 and that other signatories bear at least moral responsibility for it.
        What Ukrainian nukes?
    <div class="advetisment">
        <a href="https://nym1-ib.adnxs.com/click?7pQO1v85HUDulA7W_zkdQAAAAKBHYSpA7pQO1v85HUDulA7W_zkdQCNLEUqU3tVZDpPPhT0_9RLxXBNiAAAAAA8d2wBKJAAASiQAAAIAAAA4SUoUQ0UaAAAAAABVU0QAREtLAKIDtACYjQAAAAABAQQCAAAAAMIAtiK7XgAAAAA./bcr=AAAAAAAA8D8=/cnd=%216RHrRQi4x90YELiSqaIBGMOKaSAEKAAxAAAAAAAASEA6CU5ZTTI6NTQyM0DWLUlJS-XtCEcaQFEAAAAAAAAAAFkAAAAAAAAAAGEAAAAAAAAAAGkAAAAAAAAAAHEAAAAAAAAAAHgAiQEAAAAAAAAAAA../cca=OTI5MCNOWU0yOjU0MjM=/bn=89549/clickenc=https%3A%2F%2Fwww.teaterbilletter.dk%2Fmit-teater%2F%23select%2F81199" target="_blank"><img width="930" height="180" style="border-style: none" src="https://crcdn01.adnxs-simple.com/creative/p/9290/2022/2/7/31589418/222e4392-80f2-4930-8ae9-ecccda8c9329.gif"></a>
    </div>
        For a short period of its history, Ukraine was a nuclear power. The arsenal was part of Kiev’s legacy after the collapse of the Soviet Union. Newly-formed independent Belarus and Kazakhstan were in a similar position, having hosted Soviet strategic weapons before the break-up.
        Ukraine was technically the third-largest nuclear power at the time, a historic fact that Zelensky mentioned in his speech. It had over a hundred UR-100N intercontinental ballistic missiles hosted on its territory, almost 50 RT-23 Molodets nuclear trains, as well as a fleet of strategic bombers complete with nuclear armament.In total, Ukraine had deployed or stockpiled some 1,700 nuclear warheads, though in practice Moscow remained in control of all of them.
        Western powers were naturally all too eager to get rid of the dangerous stockpile and make Russia the only Soviet successor state with a nuclear deterrence. Realism politics voices making a case for a nuclear Ukraine were not heeded, for better or for worse.
        What is in the Budapest Memorandum?
    <div class="advetisment">
        <a href="https://nym1-ib.adnxs.com/click?7pQO1v85HUDulA7W_zkdQAAAAKBHYSpA7pQO1v85HUDulA7W_zkdQCNLEUqU3tVZDpPPhT0_9RLxXBNiAAAAAA8d2wBKJAAASiQAAAIAAAA4SUoUQ0UaAAAAAABVU0QAREtLAKIDtACYjQAAAAABAQQCAAAAAMIAtiK7XgAAAAA./bcr=AAAAAAAA8D8=/cnd=%216RHrRQi4x90YELiSqaIBGMOKaSAEKAAxAAAAAAAASEA6CU5ZTTI6NTQyM0DWLUlJS-XtCEcaQFEAAAAAAAAAAFkAAAAAAAAAAGEAAAAAAAAAAGkAAAAAAAAAAHEAAAAAAAAAAHgAiQEAAAAAAAAAAA../cca=OTI5MCNOWU0yOjU0MjM=/bn=89549/clickenc=https%3A%2F%2Fwww.teaterbilletter.dk%2Fmit-teater%2F%23select%2F81199" target="_blank"><img width="930" height="180" style="border-style: none" src="https://crcdn01.adnxs-simple.com/creative/p/9290/2022/2/7/31589418/222e4392-80f2-4930-8ae9-ecccda8c9329.gif"></a>
    </div>
        Ukraine, Belarus, and Kazakhstan agreed to dismantle their nuclear arsenals and sign the Nuclear Non-proliferation Treaty (NPT), which allows only five nations in the world to possess nuclear weapons: China, France, Russia, the UK, and the US. So-called Budapest Memorandum on security assurances – three identical documents with different names of the countries – were signed by the disarming countries as well as the US, the UK, and Russia.
        Ukraine makes nuclear status threat
        Read more Ukraine makes nuclear status threat
        The document signed by Kiev explained how the US, the UK, and Russia made several commitments regarding Ukraine, including to its “independence and sovereignty” and “the existing borders” of the nation.
    <div class="advetisment">
        <a href="https://nym1-ib.adnxs.com/click?7pQO1v85HUDulA7W_zkdQAAAAKBHYSpA7pQO1v85HUDulA7W_zkdQCNLEUqU3tVZDpPPhT0_9RLxXBNiAAAAAA8d2wBKJAAASiQAAAIAAAA4SUoUQ0UaAAAAAABVU0QAREtLAKIDtACYjQAAAAABAQQCAAAAAMIAtiK7XgAAAAA./bcr=AAAAAAAA8D8=/cnd=%216RHrRQi4x90YELiSqaIBGMOKaSAEKAAxAAAAAAAASEA6CU5ZTTI6NTQyM0DWLUlJS-XtCEcaQFEAAAAAAAAAAFkAAAAAAAAAAGEAAAAAAAAAAGkAAAAAAAAAAHEAAAAAAAAAAHgAiQEAAAAAAAAAAA../cca=OTI5MCNOWU0yOjU0MjM=/bn=89549/clickenc=https%3A%2F%2Fwww.teaterbilletter.dk%2Fmit-teater%2F%23select%2F81199" target="_blank"><img width="930" height="180" style="border-style: none" src="https://crcdn01.adnxs-simple.com/creative/p/9290/2022/2/7/31589418/222e4392-80f2-4930-8ae9-ecccda8c9329.gif"></a>
    </div>
        They also pledged not to use the threat of military force of economic coercion against Ukraine and to use their position at the UN Security Council in her defense “if Ukraine should become a victim of an act of aggression or an object of a threat of aggression in which nuclear weapons are used.”
        Kiev has been arguing since 2014 that Russia breached the agreement when it “occupied” Crimea and parts of Eastern Ukraine.
        Moscow denies this. The people of Crimea, it argues, exercised their right of self-determination under the UN Charter, when they voted to break away from Ukraine and rejoin Russia. The conflict in Donbass, Russia further states, is a civil war launched by Kiev against breakaway regions and not an international conflict.
        Did the West fail to defend Ukraine?
    <div class="advetisment">
        <a href="https://nym1-ib.adnxs.com/click?7pQO1v85HUDulA7W_zkdQAAAAKBHYSpA7pQO1v85HUDulA7W_zkdQCNLEUqU3tVZDpPPhT0_9RLxXBNiAAAAAA8d2wBKJAAASiQAAAIAAAA4SUoUQ0UaAAAAAABVU0QAREtLAKIDtACYjQAAAAABAQQCAAAAAMIAtiK7XgAAAAA./bcr=AAAAAAAA8D8=/cnd=%216RHrRQi4x90YELiSqaIBGMOKaSAEKAAxAAAAAAAASEA6CU5ZTTI6NTQyM0DWLUlJS-XtCEcaQFEAAAAAAAAAAFkAAAAAAAAAAGEAAAAAAAAAAGkAAAAAAAAAAHEAAAAAAAAAAHgAiQEAAAAAAAAAAA../cca=OTI5MCNOWU0yOjU0MjM=/bn=89549/clickenc=https%3A%2F%2Fwww.teaterbilletter.dk%2Fmit-teater%2F%23select%2F81199" target="_blank"><img width="930" height="180" style="border-style: none" src="https://crcdn01.adnxs-simple.com/creative/p/9290/2022/2/7/31589418/222e4392-80f2-4930-8ae9-ecccda8c9329.gif"></a>
    </div>
        Some politicians overstated the commitments made by the US and the UK in the Budapest Memorandum. Yulia Tymoshenko, former prime minister of Ukraine, claimed in 2014 that “by declaring war [on Ukraine, Russia was] also declaring war on the guarantors of our security, the United States and Britain.”
        Legal scholars pointed out that the memorandum doesn’t oblige the US and the UK to defend Ukraine from a foreign aggressor. It just gives them an extra justification to do so, should they choose to intervene militarily. In other words, it’s a security assurance, not a security guarantee, unlike NATO’s mutual defense commitment or the US obligation to defend Japan, for example.
        Ukraine go nuclear now?
    <div class="advetisment">
        <a href="https://nym1-ib.adnxs.com/click?7pQO1v85HUDulA7W_zkdQAAAAKBHYSpA7pQO1v85HUDulA7W_zkdQCNLEUqU3tVZDpPPhT0_9RLxXBNiAAAAAA8d2wBKJAAASiQAAAIAAAA4SUoUQ0UaAAAAAABVU0QAREtLAKIDtACYjQAAAAABAQQCAAAAAMIAtiK7XgAAAAA./bcr=AAAAAAAA8D8=/cnd=%216RHrRQi4x90YELiSqaIBGMOKaSAEKAAxAAAAAAAASEA6CU5ZTTI6NTQyM0DWLUlJS-XtCEcaQFEAAAAAAAAAAFkAAAAAAAAAAGEAAAAAAAAAAGkAAAAAAAAAAHEAAAAAAAAAAHgAiQEAAAAAAAAAAA../cca=OTI5MCNOWU0yOjU0MjM=/bn=89549/clickenc=https%3A%2F%2Fwww.teaterbilletter.dk%2Fmit-teater%2F%23select%2F81199" target="_blank"><img width="930" height="180" style="border-style: none" src="https://crcdn01.adnxs-simple.com/creative/p/9290/2022/2/7/31589418/222e4392-80f2-4930-8ae9-ecccda8c9329.gif"></a>
    </div>
        Legally speaking, nothing stops Ukraine from withdrawing from the NPT and developing its own nuclear weapons. North Korea successfully walked this path despite all international efforts to stop Pyongyang.
        There are also the examples of India and Pakistan, who developed nukes for their mutual deterrence, and Israel, which maintains strategic ambiguity on a nuclear arsenal that it is widely believed to possess.
        Kiev’s technical capability to produce a nuclear device is another matter. Ukraine has a developed civilian nuclear industry, with some legacy reactors at power plants built in Soviet times as well as nuclear research facilities. It also inherited a well-developed aviation and space industry capable of producing ICBMs and other delivery vehicles.
    <div class="advetisment">
        <a href="https://nym1-ib.adnxs.com/click?7pQO1v85HUDulA7W_zkdQAAAAKBHYSpA7pQO1v85HUDulA7W_zkdQCNLEUqU3tVZDpPPhT0_9RLxXBNiAAAAAA8d2wBKJAAASiQAAAIAAAA4SUoUQ0UaAAAAAABVU0QAREtLAKIDtACYjQAAAAABAQQCAAAAAMIAtiK7XgAAAAA./bcr=AAAAAAAA8D8=/cnd=%216RHrRQi4x90YELiSqaIBGMOKaSAEKAAxAAAAAAAASEA6CU5ZTTI6NTQyM0DWLUlJS-XtCEcaQFEAAAAAAAAAAFkAAAAAAAAAAGEAAAAAAAAAAGkAAAAAAAAAAHEAAAAAAAAAAHgAiQEAAAAAAAAAAA../cca=OTI5MCNOWU0yOjU0MjM=/bn=89549/clickenc=https%3A%2F%2Fwww.teaterbilletter.dk%2Fmit-teater%2F%23select%2F81199" target="_blank"><img width="930" height="180" style="border-style: none" src="https://crcdn01.adnxs-simple.com/creative/p/9290/2022/2/7/31589418/222e4392-80f2-4930-8ae9-ecccda8c9329.gif"></a>
    </div>
        On the other hand, Ukraine never had facilities for uranium enrichment or plutonium reprocessing, which are needed to produce weapons-grade materials for the cores. Neither did it have factories that produced actual nuclear weapons in its territory.
        It has had uranium mining operations since the 1950s, but the production significantly dipped over the past years. The mines require huge investment.
        NATO did promise Moscow it wouldn't expand, former German defense official tells RT
        Read more NATO did promise Moscow it wouldn't expand, former German defense official tells RT
        Some Ukrainian officials like retired General Petro Garashchuk claimed that Ukraine has retained enough of the technical expertise to obtain a full range of nuclear weapons and delivery systems. Which may be true, an expert told RT.
        “Technically, Ukraine has an industry that with some changes should be able to create nuclear weapon systems,” Ilya Kramnik, a researcher at the Center for North American Studies at the Institute of World Economy and International Relations, told RT.
        But more importantly, Kiev will not be able to do so secretly. At the very least, it would need to conduct tests to confirm its designs actually work. Other parts of a successful nuclear weapons program would likewise be detectable both by Western nations and by Russia. There is little doubt that Moscow would take the threat of Ukraine secretly going nuclear about as well as Israel treats the possibility of a nuclear Iran.
        And if Kiev were to openly declare its intention to redevelop a nuclear capability, it would likely not be able to get its Western backers on board with the plan. “I personally believe that there is not a single nuclear power, which will help Ukraine walk this path,” Kramnik said.
        “Simply because nobody wants to deal with the inevitable wake of problems, which will arise the day it becomes known for sure that Ukraine is developing nuclear weapons.”
        Rather than offering their approval and help, the US and its allies are more likely to work against it, potentially imposing economic sanctions. Ukraine’s current state of economy and the government’s reliance on foreign aid make Kiev’s chances of doing what Pyongyang did doubtful.
        If the proposal is unrealistic, why did the president mention it?
        It’s not like it’s unprecedented. As was said earlier, the idea has been floated in Ukraine for years, including lately by Kiev’s ambassador in Germany, Andriy Melnyk.
        One assumes people in Kiev know all the obstacles they will face if Ukraine went rogue on nuclear weapons, including from the nations that are now among its vocal supporters and major financial donors.
        One possible explanation came from Zelensky’s own mouth in Munich.
        “Give us unconditional money. Why every time they allocate us this or that sum, [they say] you have to implement one, two, three, four, five, seven, eight, ten reforms?” he demanded during a panel discussion after the speech.
        “Look, there is also the war. Is there any other nation in the world, which has such a strong army in the east and which implements reforms? This is not easy,” Zelensky added.
        So given the circumstances, Ukraine’s nuclear ambitions – as with many other emotionally charged ideas it has expressed before – may be part of an attention-seeking campaign, and not an actual roadmap. However, this does not change the fact that the dangers of potential nuclear proliferation are widely perceived as an issue of maximum concern.
    </p>
</div>
</body>

<div class="advetisment">
    <a href="https://nym1-ib.adnxs.com/click?7pQO1v85HUDulA7W_zkdQAAAAKBHYSpA7pQO1v85HUDulA7W_zkdQCNLEUqU3tVZDpPPhT0_9RLxXBNiAAAAAA8d2wBKJAAASiQAAAIAAAA4SUoUQ0UaAAAAAABVU0QAREtLAKIDtACYjQAAAAABAQQCAAAAAMIAtiK7XgAAAAA./bcr=AAAAAAAA8D8=/cnd=%216RHrRQi4x90YELiSqaIBGMOKaSAEKAAxAAAAAAAASEA6CU5ZTTI6NTQyM0DWLUlJS-XtCEcaQFEAAAAAAAAAAFkAAAAAAAAAAGEAAAAAAAAAAGkAAAAAAAAAAHEAAAAAAAAAAHgAiQEAAAAAAAAAAA../cca=OTI5MCNOWU0yOjU0MjM=/bn=89549/clickenc=https%3A%2F%2Fwww.teaterbilletter.dk%2Fmit-teater%2F%23select%2F81199" target="_blank"><img width="930" height="180" style="border-style: none" src="https://crcdn01.adnxs-simple.com/creative/p/9290/2022/2/7/31589418/222e4392-80f2-4930-8ae9-ecccda8c9329.gif"></a>
</div>
</html>