<html>
<style>
    .header-one {
        color: chartreuse;
        text-align: center;
    }
    .topbar-nav__item {
        color: red;
        text-align: center;
    }
    .topbar-nav__link {
        color: gold;
    }
    .article-intro__title {
        color: cyan;
        text-align: center;
    }
    .advetisment {
        text-align: center;
    }
    .mainmenu-button {
        color: aquamarine;
    }
    .container--12-fixed {
        text-align: center;
    }
    .article-one{
        color: orangered;
        font-size: 100px;
        text-align: center;

    }

</style>
<div class="header-one">
<head>
    POLITIKEN
</head>
</div>
<div class="topbar-nav__content js-topbar-nav__content">
    <ul class="topbar-nav__list js-topbar-nav__list" style="transform: translateX(0px);">
        <li class="topbar-nav__item js-topbar-nav__item ui-font ui-font--medium topbar-nav__item--frontpage ui-font--gray     " style="">
            <a class="topbar-nav__link " href="https://politiken.dk/indland/">
                Danmark</a>

        </li>
        <li class="topbar-nav__item js-topbar-nav__item ui-font ui-font--medium topbar-nav__item--frontpage ui-font--gray     " style="">
            <a class="topbar-nav__link " href="https://politiken.dk/kultur/">
                Kultur</a>

        </li>
        <li class="topbar-nav__item js-topbar-nav__item ui-font ui-font--medium topbar-nav__item--frontpage ui-font--gray     " style="">
            <a class="topbar-nav__link " href="https://politiken.dk/debat/">
                Debat</a>

        </li>
        <li class="topbar-nav__item js-topbar-nav__item ui-font ui-font--medium topbar-nav__item--frontpage ui-font--gray     " style="">
            <a class="topbar-nav__link " href="https://politiken.dk/klima/">
                Klima</a>

        </li>
        <li class="topbar-nav__item js-topbar-nav__item ui-font ui-font--medium topbar-nav__item--frontpage ui-font--gray     " style="">
            <a class="topbar-nav__link " href="https://politiken.dk/udland/">
                Internationalt</a>

        </li>
        <li class="topbar-nav__item js-topbar-nav__item ui-font ui-font--medium topbar-nav__item--frontpage ui-font--gray     " style="">
            <a class="topbar-nav__link " href="https://politiken.dk/sport/">
                Sport</a>

        </li>
        <li class="topbar-nav__item js-topbar-nav__item ui-font ui-font--medium topbar-nav__item--frontpage ui-font--gray     " style="">
            <a class="topbar-nav__link " href="https://politiken.dk/forbrugogliv/">
                Forbrug og liv</a>

        </li>
        <li class="topbar-nav__item js-topbar-nav__item ui-font ui-font--medium topbar-nav__item--frontpage ui-font--gray     " style="">
            <a class="topbar-nav__link " href="https://politiken.dk/ibyen/">
                iBYEN</a>

        </li>
        <li class="topbar-nav__item js-topbar-nav__item ui-font ui-font--medium topbar-nav__item--frontpage ui-font--gray     " style="">
            <a class="topbar-nav__link " href="https://politiken.dk/podcast/">
                Podcast</a>

        </li>
        <li class="topbar-nav__item js-topbar-nav__item ui-font ui-font--medium topbar-nav__item--frontpage topbar-nav__item--subscription     " style="">
            <a class="topbar-nav__link " href="/minside/minefordele/">
                <span class="icon icon--premium icon--premium--theme inline-icon inline-icon--large"></span>
                For abonnenter</a>

        </li>
    </ul>
    <button class="mainmenu-button mainmenu-button--closed-js js-mainmenu-button js-mainmenu__toggle" style="">
        <span class="mainmenu-button__icon mainmenu-button__icon--menu icon icon--menu"></span>
        <span class="mainmenu-button__icon mainmenu-button__icon--close icon icon--close--red"></span>
        Press button
    </button>
    <span class="topbar-nav__arrow topbar-nav__arrow--left js-topbar-nav__arrow--left icon icon--chevron-left--gray"></span>
    <span class="topbar-nav__arrow topbar-nav__arrow--right js-topbar-nav__arrow--right icon icon--chevron-right--gray"></span>
</div>

</div>

<h2 class="article-intro__title headline headline--xxlarge">
    <a href="https://politiken.dk/udland/art8626894/USA-advarer-FN-om-mulig-russisk-d%C3%B8dsliste-med-ukrainske-navne" class="faux-block-link__promote" data-prefetchable="true">
        <span class="article-intro__trumpet headline--theme">Følg udviklingen:</span>
    </a>
    <a href="https://politiken.dk/udland/art8626894/USA-advarer-FN-om-mulig-russisk-d%C3%B8dsliste-med-ukrainske-navne" class="faux-block-link__promote" data-prefetchable="true">
        USA advarer FN om mulig russisk dødsliste med ukrainske navne</a>
</h2>
<div>
    <div class="advetisment">
<a href="https://nym1-ib.adnxs.com/click?7pQO1v85HUDulA7W_zkdQAAAAKBHYSpA7pQO1v85HUDulA7W_zkdQCNLEUqU3tVZDpPPhT0_9RLxXBNiAAAAAA8d2wBKJAAASiQAAAIAAAA4SUoUQ0UaAAAAAABVU0QAREtLAKIDtACYjQAAAAABAQQCAAAAAMIAtiK7XgAAAAA./bcr=AAAAAAAA8D8=/cnd=%216RHrRQi4x90YELiSqaIBGMOKaSAEKAAxAAAAAAAASEA6CU5ZTTI6NTQyM0DWLUlJS-XtCEcaQFEAAAAAAAAAAFkAAAAAAAAAAGEAAAAAAAAAAGkAAAAAAAAAAHEAAAAAAAAAAHgAiQEAAAAAAAAAAA../cca=OTI5MCNOWU0yOjU0MjM=/bn=89549/clickenc=https%3A%2F%2Fwww.teaterbilletter.dk%2Fmit-teater%2F%23select%2F81199" target="_blank"><img width="930" height="180" style="border-style: none" src="https://crcdn01.adnxs-simple.com/creative/p/9290/2022/2/7/31589418/222e4392-80f2-4930-8ae9-ecccda8c9329.gif"></a>
</div>

    <div class="container container--12-fixed u-bg--gray">
        <ul class="row">
            <li class="col col--100p">
                <article class="teaser teaser--default card  faux-block-link " data-access-reference="article-teaser_default" data-category="topLarge" data-element-type="article">
                    <div class="article-intro">
                        <a href="https://politiken.dk/indland/art8502874/%C2%BBJeg-er-ikke-psykisk-syg-jeg-er-ikke-psykisk-syg-jeg-er-ikke-psykisk-syg%C2%AB" data-prefetchable="false">
                            <div class="article-intro__image">
                                <figure class="media  ">
                                    <div class="media__wrapper media__wrapper--p3x2 media__wrapper--gray" style="">
                                        <img class="media__image image--fullwidth" srcset="https://politiken.dk/incoming/img8623271.jrg4dj/ALTERNATES/p3x2_960/Title%20mangler 960w, https://politiken.dk/incoming/img8623271.jrg4dj/ALTERNATES/p3x2_960/Title%20mangler 960w, https://politiken.dk/incoming/img8623271.jrg4dj/ALTERNATES/p3x2_960/Title%20mangler 960w" sizes="(max-width: 960px) 960px, (max-width: 1117px) 960px, 960px" alt="Katrine Hørup Noer" title="Katrine Hørup Noer" pinger-seen="true">
                                    </div>
                                </figure>
                            </div>
                        </a>
                        <div class="article-intro__text ">












                            <h2 class="article-intro__title headline headline--mega">
                                <a href="https://politiken.dk/indland/art8502874/%C2%BBJeg-er-ikke-psykisk-syg-jeg-er-ikke-psykisk-syg-jeg-er-ikke-psykisk-syg%C2%AB" class="faux-block-link__promote" data-prefetchable="false">Hun ved ikke, hvornår hun kom herind, men hendes hår stoppede ved ørerne dengang og nu er det skulderlangt</a>
                            </h2>
































                            <ul class="save-follow-list  u-margin--top-xsmall ui-font--theme">

                                <li class="save-follow-list-item ui-font--theme">



                                    <a href="https://politiken.dk/indland/" class="ui-font--theme">
                                        Danmark
                                    </a>


                                </li>


                                <li class="save-follow-list-item save-follow-list-item--premium ">
                                    <span class="save-follow-premium icon icon--premium icon--premium--theme inline-icon ui-font ui-font--theme"></span>

                                    <span class="save-follow-text ui-font--theme">
              For Abonnenter
            </span>

                                </li>


                                <li class="save-follow-list-item save-article js-save-article " data-article-id="8502874" data-saved="false" data-read="false">
                                    <button class="save-follow-icon ui-font--theme    ">



                                        <svg class="save-article-icon" width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path class="save-article-icon--not-bookmarked" fill-rule="evenodd" clip-rule="evenodd" d="M0 15V0H9V15L4.5 10.5333L0 15ZM1 11.0544L4.5 7.67097L8 11.0544V1.00494H1V11.0544Z" fill="currentColor"></path>
                                            <path class="save-article-icon--bookmarked" d="M0 15V0H9V15L4.5 10.5L0 15Z" fill="currentColor"></path>
                                            <path class="save-article-icon--read" d="M0 6.50322L1.125 5.26755L3.5625 7.92425L7.875 3.1875L9 4.40258L3.54375 10.375L0 6.50322Z" fill="currentColor"></path>
                                            <path class="save-article-icon--remove" d="M9 11.1L8.08125 12L4.48125 8.41875L0.9 12L0 11.1L3.58125 7.5L0 3.9L0.9 3L4.48125 6.58125L8.08125 3L9 3.9L5.4 7.48125L9 11.1Z" fill="currentColor"></path>
                                        </svg>
                                        <span class="save-article__clicktarget"></span>

                                    </button>

                                    <span class="save-follow-text ui-font--theme">
              Læs Senere
            </span>

                                </li>


                            </ul>



                        </div>
                    </div>
                </article>
            </li>
        </ul>
        <ul class="row u-margin--top-medium">
            <li class="col col--flex col--33p"><article class="teaser teaser--default card  faux-block-link " data-access-reference="article-teaser_default" data-category="small" data-element-type="article">
                <div class="article-intro">
                    <a href="https://politiken.dk/kultur/art8611505/I-dag-skulle-Trumps-opg%C3%B8r-med-big-tech-for-alvor-g%C3%A5-i-gang-men-ekspr%C3%A6sidenten-er-taberd%C3%B8mt-p%C3%A5-forh%C3%A5nd" data-prefetchable="false">
                        <div class="article-intro__image">
                            <figure class="media  ">
                                <div class="media__wrapper media__wrapper--p3x2 media__wrapper--gray" style="">
                                    <img class="media__image image--fullwidth" srcset="https://politiken.dk/incoming/img8624974.onsabp/ALTERNATES/p3x2_300/A-t 300w, https://politiken.dk/incoming/img8624974.onsabp/ALTERNATES/p3x2_300/A-t 300w, https://politiken.dk/incoming/img8624974.onsabp/ALTERNATES/p3x2_300/A-t 300w" sizes="(max-width: 960px) 300px, (max-width: 1117px) 300px, 300px" alt="Christine Vierø Larsen. Originalfoto: Ritzau Scanpix / Twitter" title="Christine Vierø Larsen. Originalfoto: Ritzau Scanpix / Twitter" pinger-seen="true">
                                </div>
                            </figure>
                        </div>
                    </a>
                    <div class="article-intro__text ">












                        <h2 class="article-intro__title headline headline--large">
                            <a href="https://politiken.dk/kultur/art8611505/I-dag-skulle-Trumps-opg%C3%B8r-med-big-tech-for-alvor-g%C3%A5-i-gang-men-ekspr%C3%A6sidenten-er-taberd%C3%B8mt-p%C3%A5-forh%C3%A5nd" class="faux-block-link__promote" data-prefetchable="false">
                                I dag skulle Trumps opgør med big tech for alvor gå i gang, men ekspræsidenten er taberdømt på forhånd</a>
                        </h2>
































                        <ul class="save-follow-list  u-margin--top-xsmall ui-font--theme">

                            <li class="save-follow-list-item ui-font--theme">



                                <a href="https://politiken.dk/kultur/" class="ui-font--theme">
                                    Kultur
                                </a>


                            </li>


                            <li class="save-follow-list-item save-follow-list-item--premium ">
                                <span class="save-follow-premium icon icon--premium icon--premium--theme inline-icon ui-font ui-font--theme"></span>

                            </li>


                            <li class="save-follow-list-item save-article js-save-article " data-article-id="8611505" data-saved="false" data-read="false">
                                <button class="save-follow-icon ui-font--theme    ">



                                    <svg class="save-article-icon" width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path class="save-article-icon--not-bookmarked" fill-rule="evenodd" clip-rule="evenodd" d="M0 15V0H9V15L4.5 10.5333L0 15ZM1 11.0544L4.5 7.67097L8 11.0544V1.00494H1V11.0544Z" fill="currentColor"></path>
                                        <path class="save-article-icon--bookmarked" d="M0 15V0H9V15L4.5 10.5L0 15Z" fill="currentColor"></path>
                                        <path class="save-article-icon--read" d="M0 6.50322L1.125 5.26755L3.5625 7.92425L7.875 3.1875L9 4.40258L3.54375 10.375L0 6.50322Z" fill="currentColor"></path>
                                        <path class="save-article-icon--remove" d="M9 11.1L8.08125 12L4.48125 8.41875L0.9 12L0 11.1L3.58125 7.5L0 3.9L0.9 3L4.48125 6.58125L8.08125 3L9 3.9L5.4 7.48125L9 11.1Z" fill="currentColor"></path>
                                    </svg>
                                    <span class="save-article__clicktarget"></span>

                                </button>

                            </li>


                        </ul>



                        <ul class="article-intro__related">
                            <li class="list-item faux-block-link__promote list-item__link list-item__link--padding-large list-item--border">
                                <h3 class="list-item__title   headline headline--xsmall headline--black">
                                    <a href="https://politiken.dk/kultur/medier/art8626932/Tusinder-venter-i-k%C3%B8-p%C3%A5-at-hente-Donald-Trumps-nye-app">Tusinder venter i kø på at hente Donald Trumps nye app</a>



































                                    <ul class="save-follow-list save-follow-list--inline  ui-font--theme">



                                        <li class="save-follow-list-item save-article js-save-article save-follow-list-item--theme" data-article-id="8626932" data-saved="false" data-read="false">
                                            <button class="save-follow-icon ui-font--theme   ">



                                                <svg class="save-article-icon" width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path class="save-article-icon--not-bookmarked" fill-rule="evenodd" clip-rule="evenodd" d="M0 15V0H9V15L4.5 10.5333L0 15ZM1 11.0544L4.5 7.67097L8 11.0544V1.00494H1V11.0544Z" fill="currentColor"></path>
                                                    <path class="save-article-icon--bookmarked" d="M0 15V0H9V15L4.5 10.5L0 15Z" fill="currentColor"></path>
                                                    <path class="save-article-icon--read" d="M0 6.50322L1.125 5.26755L3.5625 7.92425L7.875 3.1875L9 4.40258L3.54375 10.375L0 6.50322Z" fill="currentColor"></path>
                                                    <path class="save-article-icon--remove" d="M9 11.1L8.08125 12L4.48125 8.41875L0.9 12L0 11.1L3.58125 7.5L0 3.9L0.9 3L4.48125 6.58125L8.08125 3L9 3.9L5.4 7.48125L9 11.1Z" fill="currentColor"></path>
                                                </svg>
                                                <span class="save-article__clicktarget"></span>

                                            </button>

                                        </li>


                                    </ul>



                                </h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
            </li><li class="col col--flex col--33p"><article class="teaser teaser--default card  faux-block-link " data-access-reference="article-teaser_default" data-category="small" data-element-type="article">
            <div class="article-intro">
                <a href="https://politiken.dk/kultur/art8625160/De-danske-medier-har-udtalt-den-kinesiske-hovedstad-p%C3%A5-mindst-fire-m%C3%A5der.-Hvad-siger-du" data-prefetchable="true">
                    <div class="article-intro__image">
                        <figure class="media  ">
                            <div class="media__wrapper media__wrapper--p3x2 media__wrapper--gray" style="">
                                <img class="media__image image--fullwidth" srcset="https://politiken.dk/incoming/img8626955.n23vqh/ALTERNATES/p3x2_300/OLYMPICS-2022-EDITORS%20CHOICE 300w, https://politiken.dk/incoming/img8626955.n23vqh/ALTERNATES/p3x2_300/OLYMPICS-2022-EDITORS%20CHOICE 300w, https://politiken.dk/incoming/img8626955.n23vqh/ALTERNATES/p3x2_300/OLYMPICS-2022-EDITORS%20CHOICE 300w" sizes="(max-width: 960px) 300px, (max-width: 1117px) 300px, 300px" alt="Evgenia Novozhenina/Ritzau Scanpix" title="Evgenia Novozhenina/Ritzau Scanpix" pinger-seen="true">
                            </div>
                        </figure>
                    </div>
                </a>
                <div class="article-intro__text article-intro__text--no-padding">












                    <div class="article-intro__tag-container article-intro__tag-container--theme faux-block-link__promote article-intro__tag-container--pulled-up ">

                        <a href="https://politiken.dk/tag/main/Ugens_ord" class="article-intro__tag tag tag--small u-ellipsis tag--theme">
                            Ugens ord
                        </a>


                    </div>

                    <h2 class="article-intro__title headline headline--large">
                        <a href="https://politiken.dk/kultur/art8625160/De-danske-medier-har-udtalt-den-kinesiske-hovedstad-p%C3%A5-mindst-fire-m%C3%A5der.-Hvad-siger-du" class="faux-block-link__promote" data-prefetchable="true">Hvordan udtaler du Beijing? Eller holder du fast i Peking?</a>
                    </h2>
































                    <ul class="save-follow-list  u-margin--top-xsmall ui-font--theme">

                        <li class="save-follow-list-item ui-font--theme">



                            <a href="https://politiken.dk/kultur/" class="ui-font--theme">
                                Kultur
                            </a>


                        </li>


                        <li class="save-follow-list-item save-follow-list-item--premium ">
                            <span class="save-follow-premium icon icon--premium icon--premium--theme inline-icon ui-font ui-font--theme"></span>

                        </li>


                        <li class="save-follow-list-item save-article js-save-article " data-article-id="8625160" data-saved="false" data-read="false">
                            <button class="save-follow-icon ui-font--theme    ">



                                <svg class="save-article-icon" width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path class="save-article-icon--not-bookmarked" fill-rule="evenodd" clip-rule="evenodd" d="M0 15V0H9V15L4.5 10.5333L0 15ZM1 11.0544L4.5 7.67097L8 11.0544V1.00494H1V11.0544Z" fill="currentColor"></path>
                                    <path class="save-article-icon--bookmarked" d="M0 15V0H9V15L4.5 10.5L0 15Z" fill="currentColor"></path>
                                    <path class="save-article-icon--read" d="M0 6.50322L1.125 5.26755L3.5625 7.92425L7.875 3.1875L9 4.40258L3.54375 10.375L0 6.50322Z" fill="currentColor"></path>
                                    <path class="save-article-icon--remove" d="M9 11.1L8.08125 12L4.48125 8.41875L0.9 12L0 11.1L3.58125 7.5L0 3.9L0.9 3L4.48125 6.58125L8.08125 3L9 3.9L5.4 7.48125L9 11.1Z" fill="currentColor"></path>
                                </svg>
                                <span class="save-article__clicktarget"></span>

                            </button>

                        </li>


                    </ul>



                </div>
            </div>
        </article>
        </li><li class="col col--flex col--33p"><article class="teaser teaser--default card  faux-block-link " data-access-reference="article-teaser_default" data-category="small" data-element-type="article">
            <div class="article-intro">
                <a href="https://politiken.dk/indland/art8627009/27-%C3%A5rig-anklages-for-at-kr%C3%A6nke-516-ofre-i-k%C3%A6mpe-hackersag" data-prefetchable="true">
                    <div class="article-intro__image">
                        <figure class="media  ">
                            <div class="media__wrapper media__wrapper--p3x2 media__wrapper--gray" style="">
                                <img class="media__image image--fullwidth" srcset="https://politiken.dk/incoming/img8477489.oj3jwn/ALTERNATES/p3x2_300/Title%20mangler 300w, https://politiken.dk/incoming/img8477489.oj3jwn/ALTERNATES/p3x2_300/Title%20mangler 300w, https://politiken.dk/incoming/img8477489.oj3jwn/ALTERNATES/p3x2_300/Title%20mangler 300w" sizes="(max-width: 960px) 300px, (max-width: 1117px) 300px, 300px" alt="Philip Ytournel/POLITIKEN" title="Philip Ytournel/POLITIKEN" pinger-seen="true">
                            </div>
                        </figure>
                    </div>
                </a>
                <div class="article-intro__text ">












                    <h2 class="article-intro__title headline headline--large">
                        <a href="https://politiken.dk/indland/art8627009/27-%C3%A5rig-anklages-for-at-kr%C3%A6nke-516-ofre-i-k%C3%A6mpe-hackersag" class="faux-block-link__promote" data-prefetchable="true">
                            27-årig anklages for at krænke 516 ofre i kæmpe hackersag</a>
                    </h2>
































                    <ul class="save-follow-list  u-margin--top-xsmall ui-font--theme">

                        <li class="save-follow-list-item ui-font--theme">



                            <a href="https://politiken.dk/indland/" class="ui-font--theme">
                                Danmark
                            </a>


                        </li>



                        <li class="save-follow-list-item save-article js-save-article " data-article-id="8627009" data-saved="false" data-read="false">
                            <button class="save-follow-icon ui-font--theme    ">



                                <svg class="save-article-icon" width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path class="save-article-icon--not-bookmarked" fill-rule="evenodd" clip-rule="evenodd" d="M0 15V0H9V15L4.5 10.5333L0 15ZM1 11.0544L4.5 7.67097L8 11.0544V1.00494H1V11.0544Z" fill="currentColor"></path>
                                    <path class="save-article-icon--bookmarked" d="M0 15V0H9V15L4.5 10.5L0 15Z" fill="currentColor"></path>
                                    <path class="save-article-icon--read" d="M0 6.50322L1.125 5.26755L3.5625 7.92425L7.875 3.1875L9 4.40258L3.54375 10.375L0 6.50322Z" fill="currentColor"></path>
                                    <path class="save-article-icon--remove" d="M9 11.1L8.08125 12L4.48125 8.41875L0.9 12L0 11.1L3.58125 7.5L0 3.9L0.9 3L4.48125 6.58125L8.08125 3L9 3.9L5.4 7.48125L9 11.1Z" fill="currentColor"></path>
                                </svg>
                                <span class="save-article__clicktarget"></span>

                            </button>

                        </li>


                    </ul>



                </div>
            </div>
        </article>
        </li></ul>
    </div>
    <div class="article-one">
    <a href="article-one">-->>[PRESS]Go To Article One [HERE]<<--</a>
</div>
</html>